{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">About Us</h1>
            <a href="/">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="">About</a>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">About Us</h2>
            <h1 class="display-4 text-uppercase">Welcome To Kainat Plastic Industry</h1>
        </div>
        <!-- About Us -->
        <div class="row gx-5 mb-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{%static 'images/about.jpg' %}"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4 text-uppercase">About Us</h4>
                <p class="mb-5">At Kainat Plastic Industry, we are pioneers in the sanitary plastic industry, dedicated
                    to
                    revolutionizing hygiene solutions through cutting-edge technology and unwavering commitment to
                    excellence. With 20 years of experience, we have established ourselves as a trusted
                    name in delivering high-quality, durable, and innovative plastic products for various sanitary
                    applications.</p>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4"
                            style="width: 90px; height: 90px;">
                            <i class="fa fa-heartbeat fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">Our Mission</h4>
                        <p class="mb-0">Our mission is to provide superior sanitary plastic solutions that meet the
                            evolving needs of our customers while adhering to the highest standards of quality,
                            sustainability, and customer satisfaction. We strive to innovate relentlessly, ensuring that
                            our products not only meet but exceed industry standards, contributing to a cleaner, safer,
                            and more sustainable world.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4"
                            style="width: 90px; height: 90px;">
                            <i class="fa fa-award fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">Our Products</h4>
                        <p class="mb-0">From sanitary piping systems to hygiene fixtures, our comprehensive range of
                            sanitary plastic products caters to a diverse range of industries, including healthcare,
                            hospitality, food processing, and more. Each product is meticulously crafted using the
                            highest quality materials and advanced manufacturing techniques to ensure durability,
                            reliability, and performance.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Us -->

        <!-- Our Values -->
        <div class="row gx-5 mb-5 mt-5">
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4 text-uppercase">Our Values</h4>
                <ul class="mb-5" style="list-style: none;">
                    <li>
                        <h4 class="text-primary">Quality:</h4> We believe in delivering products of uncompromising
                        quality, ensuring the utmost safety and hygiene for our customers.
                    </li>
                    <br>
                    <li>
                        <h4 class="text-primary">Innovation:</h4> Innovation is at the core of everything we do. We
                        continuously invest in research and development to stay ahead of industry trends and pioneer new
                        technologies.
                    </li>
                    <br>
                    <li>
                        <h4 class="text-primary">Integrity:</h4> We conduct our business with honesty, integrity, and
                        transparency, fostering trust and long-term relationships with our customers, partners, and
                        stakeholders.
                    </li>
                    <br>
                    <li>
                        <h4 class="text-primary">Sustainability:</h4> Environmental responsibility is embedded in our
                        DNA. We are committed to minimizing our environmental footprint through sustainable practices
                        and eco-friendly materials.
                    </li><br>
                    <li>
                        <h4 class="text-primary">Customer Centricity:</h4> Our customers are at the heart of our
                        business. We are dedicated to understanding their needs and exceeding their expectations through
                        personalized service and tailored solutions.
                    </li>
                </ul>

            </div>
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 300px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'images/about.jpg' %}"
                        style="object-fit: cover;">
                </div>
            </div>
        </div>
        <!--End Our Values -->

        <!-- Why Choose Us -->
        <div class="row gx-5 mb-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{%static 'images/about.jpg' %}"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4 text-uppercase">Why Choose Us?</h4>
                <ul class="mb-5" style="list-style: none;">
                    <li>
                        <h4 class="text-primary">Unparalleled Expertise:</h4> With 20 years of industry
                        experience, we possess the knowledge, expertise, and resources to deliver exceptional sanitary
                        plastic solutions tailored to your specific needs.
                    </li>
                    <br>
                    <li>
                        <h4 class="text-primary">Quality Assurance:</h4> Our stringent quality control measures and
                        rigorous testing processes guarantee that every product that leaves our facility meets the
                        highest standards of quality and reliability.
                    </li>
                    <br>
                    <li>
                        <h4 class="text-primary">Customization: </h4>We understand that every project is unique. That's
                        why we offer customizable solutions to meet your exact specifications, ensuring maximum
                        efficiency and functionality.
                    </li>
                    <br>
                    <li>
                        <h4 class="text-primary">Customer Satisfaction:</h4>At <a href="/"><span
                                class="text-primary">Kainat Plastic
                                Industry</span></a>, customer satisfaction is
                        our top priority. We are committed to providing responsive customer service, timely delivery,
                        and ongoing support to ensure a seamless experience from start to finish.
                    </li><br>

                </ul>
            </div>
        </div>
        <!-- End Why choose Us -->

        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h1 class="display-4 text-uppercase">Get in Touch</h1>
        </div>
        <p>Experience the difference with <a href="/"><span class="text-primary"></span>Kainat Plastic Industry</a>.
            Contact us today to learn more about our products and
            services or to discuss your specific requirements. Let us be your partner in creating a cleaner, safer,
            and more hygienic environment for all.</p>

    </div>
</div>
<!-- About End -->



{% endblock %}