{% extends 'website/base.html' %}
{% load static %}

{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">Data Deletion Policy</h1>
            <a href="/">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="">Data Deletion Policy</a>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Data Deletion Policy</h2>
            <h1 class="display-4 text-uppercase">Welcome To Kainat Plastic Industry</h1>
        </div>
        <!-- About Us -->
        <div class="row gx-5 mb-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{%static 'images/about.jpg' %}"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4 text-uppercase">Data Deletion Policy</h4>
                <p class="mb-5">
                    Data Deletion Policy

                    1. Purpose

                    The purpose of this Data Deletion Policy is to outline the procedures and guidelines for the
                    deletion or removal of personal data collected or processed by [Your Company Name] ("we", "us", or
                    "our").

                    2. Scope

                    This policy applies to all personal data collected, processed, or stored by our organization,
                    whether in digital or physical form.

                    3. Data Deletion Procedures

                    Identification of Data: We will regularly review and identify personal data that is no longer
                    necessary for the purposes for which it was collected or processed.

                    Data Deletion Requests: Individuals may request the deletion of their personal data by contacting us
                    through the designated channels specified in our Privacy Policy.

                    Verification: We may verify the identity of individuals making data deletion requests to ensure the
                    security and integrity of personal data.

                    Data Deletion Process: Upon receipt of a valid data deletion request, we will promptly and securely
                    delete or anonymize the relevant personal data from our systems and databases.

                    Backup and Archives: Personal data may remain in backups or archives for a limited period due to
                    technical constraints. We will ensure that such data is also deleted or anonymized in a timely
                    manner.

                    4. Exceptions

                    Legal Obligations: We may retain personal data if required by applicable law, regulation, or legal
                    process.

                    Contractual Obligations: Personal data necessary for the performance of contractual obligations may
                    be retained until the completion of the contract.

                    5. Communication and Notification

                    We will notify individuals whose personal data has been deleted or anonymized in response to a data
                    deletion request, unless prohibited by law or regulation.

                    6. Data Deletion Responsibility

                    All employees and personnel involved in the collection, processing, or storage of personal data are
                    responsible for adhering to this Data Deletion Policy.

                    7. Policy Review

                    This Data Deletion Policy will be reviewed periodically to ensure its effectiveness and compliance
                    with applicable laws and regulations.

                    8. Contact Information

                    If you have any questions or concerns about our Data Deletion Policy, please contact us at
                    [contact@example.com].
                </p>

            </div>
        </div>
        <!-- End About Us -->




    </div>
</div>
<!-- About End -->




{% endblock %}